<!Doctype html>
<html>
    <head>
        <link href="{{ asset('bundles/valiknetcinema/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/valiknetcinema/css/common.css') }}" rel="stylesheet"/>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="container">
            <div class="header navbar navbar-inverse">
                {% include "ValiknetCinemaBundle:layouts:nav.html.twig" %}
            </div>
            <div class="row marketing">
                {% block content %}
                {% endblock %}
            </div>
            <footer class="footer">
                (c) Valik Grinevich
            </footer>
        </div>
    </body>
</html>