<nav>
    <ul class="nav navbar-nav pull-right">
        <li role="presentation">
            <a href="{{ path("valiknet_cinema_homepage") }}">Головна сторінка</a>
        </li>

        <li role="presentation">
            <a href="{{ path('valiknet_proposal_list') }}">Запропонувати</a>
        </li>
    </ul>

    <span class="navbar-brand">Cinema</span>
</nav>