{% extends 'ValiknetCinemaBundle:layouts:layout.html.twig' %}

{% block title %}
    Список пропозицій
{% endblock %}

{% block content %}
    <div class="row">
        <ul>
            <li>
                <a href="{{ path("valiknet_proposal_movie") }}">Запропонувати фільм</a>
            </li>

            <li>
                <a href="{{ path("valiknet_proposal_actor") }}">Запропонувати актора</a>
            </li>

            <li>
                <a href="{{ path("valiknet_proposal_director") }}">Запропонувати режисера</a>
            </li>
        </ul>
    </div>
{% endblock %}