{% extends 'ValiknetCinemaBundle:layouts:layout.html.twig' %}

{% block title %}
    Сторінка пропозиції фільму
{% endblock %}

{% block content %}
    <div class="row">
        {{ form(form) }}
    </div>
{% endblock %}